html {
    font-size: 14px;
}

body {
    font-family: Arial;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: rgb(51, 51, 51);
    line-height: normal;
}

.red {
    color: red;
    font-weight: bold;
}

.new-request {
    margin: 7px;
    padding: 12px;
}

.table-block,
.dom-table-block {
    flex: 1;
    overflow-y: auto;
}

.dom-table-block {
    max-height: 150px;
}

.requests-block {
    overflow-y: auto;
    max-height: 100%;
}

.deals-block {

}

.dom-block {

}

.table-container {
    position: relative;
    display: flex;
    border: 1px solid #bebebe;
    padding: 36px 0 0 0;
    margin: 15px 0;
    min-height: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

td + td {
    border-left: 1px solid #bebebe;
}

td, th {
    border-bottom: 1px solid #bebebe;
    color: #000;
    padding: 5px 10px;
}

th {
    height: 0;
    line-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: transparent;
    border: none;
    white-space: nowrap;
}

th div {
    position: absolute;
    background: transparent;
    color: black;
    padding: 9px 10px;
    top: 0;
    margin-left: -10px;
    line-height: normal;
    border-left: 1px solid #bebebe;
}


th:first-child div {
    border: none;
}


tr:nth-child(odd) {
    background-color: #EAF2D3;
}

tbody {
    border-top: 1px solid #bebebe;
}

.text-center {
    text-align: center;
}

.list {
    margin-top: 15px;
}


h2 {
    font-size: 1.5rem;
}

.dirSELL td {
    color: #ba0000;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0 15px;
}

.container-row {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 350px;
}

.col-right {
    margin-left: auto;
}


.load {
    margin-left: 16px;
}

.list.row {
    margin: 0;
}